<footer>
  <div id="companyInfo">
    <a href="/about/">About Us</a>
    <a href="/contact/">Contact Us</a>
    <div id="socialLinks">
      <a href="https://www.facebook.com/" target="_blank">
        <img
          class="socialIcon"
          src="/assets/images/facebook.svg"
          alt="facebook logo"
          width="22px"
          height="22px"
        />
      </a>
      <a href="https://www.twitter.com/" target="_blank" class="socialIcon">
        <img
          class="socialIcon"
          src="/assets/images/twitter-3.svg"
          alt="twitter logo"
          width="22px"
          height="22px"
        />
      </a>
      <a href="https://www.instagram.com/" target="_blank" class="socialIcon">
        <img
          class="socialIcon"
          src="/assets/images/instagram.svg"
          alt="instagram logo"
          width="22px"
          height="22px"
        />
      </a>
    </div>
  </div>
  <form id="newsletter" action="https://formspree.io/xlepzvok" method="POST">
    <div class="form-group" id="rightFooter">
      <label for="inputEmail">Newsletter:</label>
      <input
        type="email"
        id="inputEmail"
        class="form-control"
        name="email"
        placeholder="Enter email address"
        autocomplete="email"
        required
      />
      <button id="submitButton" type="submit" class="btn btn-secondary">
        Subscribe
      </button>
    </div>
  </form>
</footer>
