@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;600&family=Roboto&family=Bad+Script&family=Antic+Didone&display=swap");

/* Color palette: https://colorhunt.co/palette/171393 */

/* CSS Variables */
:root {
  --primary-color: #b7472a;
  --secondary-color: #ffd5ab;
  --text-color: #555;
  --link-color: whitesmoke;
  --button-background: #333333;
  --button-background-hover: #666666;
  --shadow-color: #ccc;
}

html {
  scroll-behavior: smooth;
}

html body {
  margin: 0;
  display: flex;
  max-width: 1360px;
  flex-direction: column;
  margin: auto;
  background-color: #fff2e5;
}

h2 {
  font:
    800 24px "Roboto",
    sans-serif;
  margin: 30px 0 25px 66px;
  color: var(--text-color);
  text-shadow: 0 1px 2px var(--link-color);
}

a {
  font-family: "Roboto", sans-serif;
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--link-color);
}

p {
  font-family: "Asap", sans-serif;
  margin: 0;
  padding: 5px;
}

/* header style */

body header {
  display: flex;
  color: var(--link-color);
  background-color: var(--primary-color);
  justify-content: space-between;
  position: fixed;
  width: 100%;
  max-width: 1560px;
  text-shadow: 0px 1px 2px var(--text-color);
  box-shadow: 0px 1px 2px var(--text-color);
  z-index: 100;
  align-items: center;
}

#left-header {
  display: flex;
  font-size: 24px;
  padding: 10px;
}

#left-header a {
  font-size: 1.2em;
  font-family: "Bad Script", cursive;
  margin: 0;
}

#logo {
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 0.8em;
}

#logo:hover {
  transform: scale(1.1);
}

#title {
  padding-right: 15px;
}

#right-header {
  display: flex;
}

#categories {
  display: flex;
  align-items: center;
  font-size: 18px;
}

#categories a {
  margin-left: 20px;
}

#categories a:hover {
  transform: scale(1.1);
}

#shopping-basket {
  padding: 20px;
  margin: 0 10px;
  font-size: 1.1em;
}

#shopping-basket:hover {
  transform: scale(1.1);
}

/* image style */

#imageContainer {
  position: relative;
  bottom: -6px;
}

#imageLocation {
  position: absolute;
  bottom: 8px;
  right: 8px;
  text-align: right;
  background-color: var(--text-color);
  font-size: 14px;
  padding: 3px 8px;
  border-radius: 0.2em;
  color: var(--link-color);
}

#imageLocation a:hover {
  text-decoration: underline;
}

#bigImage {
  width: 100%;
  margin-top: 40px;
  max-height: 475px;
  object-fit: cover;
  box-shadow: 0px 1px 2px var(--shadow-color);
}

/* description banner */

#banner {
  background-color: var(--secondary-color);
  box-shadow: 0 1px 2px var(--shadow-color);
  margin-top: 6px;
}

#banner p {
  font-size: 18px;
  margin-left: 25px;
  padding: 10px;
}

/* products area display */

#container {
  margin: 0 46px 46px;
}

#allItemsDisplay {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
}

/* single product display card */

#allItemsDisplay div {
  height: 100%;
  max-width: 340px;
  border: 1px solid #dcbf9c;
  border-radius: 0.4em;
  background-color: white;
  filter: drop-shadow(0.2rem 0.2rem 0.25rem var(--shadow-color));
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#allItemsDisplay div h3 {
  font-family: "Antic Didone", serif;
  font-size: 22px;
  margin-top: 20px;
}

#allItemsDisplay div p {
  color: var(--button-background);
  font-size: 0.9em;
}

.priceTag {
  font-weight: 900;
  text-align: right;
  padding-bottom: 10px;
}

.button {
  cursor: pointer;
  margin-top: 15px;
  padding: 5px;
  width: 225px;
  font-weight: 400;
  color: var(--link-color);
  border: 1px solid black;
  border-style: outset;
  background-color: var(--button-background);
  border-radius: 0.2em;
  align-self: center;
}

.button:hover {
  background-color: var(--button-background-hover);
}

#allItemsDisplay img {
  border-radius: 0.3em;
  align-self: center;
}

/* footer style */

body footer {
  display: flex;
  color: white;
  font:
    16px "Asap",
    sans-serif;
  background-color: var(--primary-color);
  margin: 0 20px;
  padding: 0 10px;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  justify-content: space-between;
  align-items: center;
  text-shadow: 0 1px 2px var(--text-color);
  box-shadow: 0 1px 2px var(--text-color);
}

footer p {
  padding: 18px;
}

#companyInfo {
  display: flex;
  padding: 15px;
}

#companyInfo a {
  padding: 0 12px;
}

#companyInfo a:hover {
  transform: scale(1.1);
}

#socialLinks *:hover {
  transform: scale(1.1);
}

.socialIcon {
  font-size: 1.1em;
}

#rightFooter {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

#newsletter {
  display: flex;
  padding: 15px;
}

#newsletter label {
  padding: 5px;
  margin: 0;
}

#newsletter input {
  margin: 0 10px;
}

#aboutUs p {
  font:
    18px/1.5 "Roboto",
    sans-serif;
  margin: 0 66px;
  max-width: 800px;
  padding-bottom: 150px;
}

#contactUs p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 1em 0 0.5em 0;
}

#contactUs h2 {
  margin-top: 100px;
}

#contact-form {
  max-width: 700px;
  margin: 0 66px 66px;
}

.form-check {
  margin-bottom: 0.5em;
}

#submit {
  padding-left: 30px;
  padding-right: 30px;
}

/* change display header and banner for small screen devices */

@media screen and (max-width: 700px) {
  body header {
    flex-direction: column;
    position: unset;
  }

  #left-header {
    border-bottom: 1px solid var(--link-color);
    justify-content: flex-end;
    margin: 0;
  }

  #bigImage {
    height: 300px;
    margin-top: -20px;
  }

  #banner p {
    margin: 0 7px;
    padding: 10px;
  }

  h2 {
    text-align: center;
    margin-left: 0;
  }

  #contactUs h2 {
    margin-top: 30px;
  }
}

/* change display footer for small screen devices */

@media screen and (max-width: 880px) {
  body footer {
    flex-direction: column;
  }

  #rightFooter {
    flex-direction: column;
  }

  #newsletter {
    justify-content: center;
    padding-top: 0;
  }

  #submitButton button {
    margin-top: 10px;
  }

  #companyInfo {
    justify-content: center;
  }
}

@media screen and (max-width: 420px) {
  #contact-form {
    margin: 20px;
    padding-bottom: 50px;
  }

  #companyInfo a {
    padding: 0 7px;
  }
}

@media screen and (max-width: 1205px) {
  #allItemsDisplay {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 925px) {
  #allItemsDisplay {
    grid-template-columns: repeat(2, 1fr);
  }

  #allItemsDisplay div:nth-child(2n + 1) {
    justify-self: end;
    width: 100%;
  }
}

@media screen and (max-width: 645px) {
  #allItemsDisplay {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #allItemsDisplay div {
    justify-self: center;
    width: 100%;
  }

  #allItemsDisplay div:nth-child(2n + 1) {
    justify-self: center;
  }
}
