---
layout: base
permalink: /about/
---

<div class="content">
  <div id="imageContainer">
    <img
      id="bigImage"
      src="/assets/images/annie-spratt-869jgJHWfYc-unsplash.webp"
      alt="Cinque Terre"
    />
  </div>
  <div id="aboutUs">
    <h2>About Us</h2>
    <p>
      Gastronomia Giovanni delivers artisanal Italian products right to your
      door. Our products are sourced from organic farmers and producers who
      value quality as well as sustainability.
    </p>
    <p>
      We understand our responsibility to the environment and we off-set our
      carbon emissions (i.e. from air shipment) with green investments. We want
      to share our love for Italian cuisine without comprising our respect and
      love for the earth. We hope you enjoy our products as much as we do.
    </p>
  </div>
</div>
