---
layout: base
permalink: /
---

<div class="content">
  <div id="imageContainer">
    <img
      id="bigImage"
      src="/assets/images/robert-anitei-eO6itwNSdcA-unsplash.webp"
      alt="Cinque Terre"
    />
    <div id="imageLocation">
      <img
        src="/assets/images/location-dot-solid.svg"
        alt="location pin"
        width="14px"
        height="14px"
      />
      <a href="https://goo.gl/maps/bzLQFUwYGzak9e5L6" target="_blank">
        5 Terre - Liguria</a
      >
    </div>
  </div>
  <div id="banner">
    <p>Artisanal italian products at your doorstep! 🇮🇹</p>
  </div>
  <h2 id="listTitle">All Products</h2>
  <div id="container">
    <div id="allItemsDisplay"></div>
  </div>
</div>
